<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">
</head>

<body data-type="adminFeedbackAlre" class="theme-black">

<div class="am-g tpl-g">
    <!-- 头部 -->
    <link rel="import" href="../../components/adminHeader/adminHeader.html?__inline">
    <!-- 侧边导航栏 -->
    <link rel="import" href="../../components/adminMenu/adminMenu.html?__inline">


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf"><%=title%></div>
                        </div>
                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12 am-scrollable-horizontal">
                                <table width="100%" class="am-table am-text-nowrap am-table-striped tpl-table-black">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>用户</th>
                                        <th>用户角色</th>
                                        <th>提交日期</th>
                                        <th>反馈内容</th>
                                        <th>处理日期</th>
                                        <th>处理人意见</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <% for(var i = 0; i < feedbacks.length; i++){ %>
                                    <tr>
                                        <td><%= i + 1 %></td>
                                        <td><%= feedbacks[i].user %></td>
                                        <td>
                                            <% if(feedbacks[i].userRole == 'tasker'){ %>
                                            发布者
                                            <% } %>
                                            <% if(feedbacks[i].userRole == 'hander'){ %>
                                            任务者
                                            <% } %>
                                        </td>
                                        <td><%= feedbacks[i].createTime %></td>
                                        <td class="feedback-content"><%= feedbacks[i].content %></td>
                                        <td><%= feedbacks[i].handleTime %></td>
                                        <td class="feedback-content"><%= feedbacks[i].treatAdvice %></td>
                                    </tr>
                                    <% } %>

                                    </tbody>
                                </table>

                                <input type="hidden" value="<%= pages %>" id="pages">
                                <div id="laypage"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/plugins/laypage/laypage.js"></script>

<script>
    require('adminMenu');

    laypage({
        cont: 'laypage',
        pages: $('#pages').val(), //可以叫服务端把总页数放在某一个隐藏域，再获取。假设我们获取到的是18
        skin: 'molv', //皮肤
        skip: true, //是否开启跳页
        groups: 3, //连续显示分页数
        last: $('#pages').val(),
        curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取
            var page = location.search.match(/page=(\d+)/);
            return page ? page[1] : 1;
        }(),
        jump: function(e, first){ //触发分页后的回调
            if(!first){ //一定要加此判断，否则初始时会无限刷新
                location.href = '?page='+e.curr;
            }
        }
    });
</script>

</body>

</html>