# ignore output folder
backstage/public
backstage/views

# ignore node_moduels
backstage/node_modules
web-workflow/node_modules
reptile/node_modules

# ignore IDE dir
.idea

# ignore debug log file
npm-debug.log

#  --no-cache --update $FileName$:$FileNameWithoutExtension$.css
#  --source-maps --out-file $FileNameWithoutExtension$-compiled.js $FilePath$