<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">
</head>

<body data-type="adminRecharge" class="theme-black">

<div class="am-g tpl-g">
    <!-- 头部 -->
    <link rel="import" href="../../components/adminHeader/adminHeader.html?__inline">
    <!-- 侧边导航栏 -->
    <link rel="import" href="../../components/adminMenu/adminMenu.html?__inline">


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-cf"><%=title%></div>
                        </div>
                        <div class="widget-body  am-fr">
                            <div id="searchForm" class="am-form am-form-inline">
                                <validator name="search">
                                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                        <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                            <form id="search" method="get" action="/admin/search/recharge/by/alipayId">
                                                <input id="taskName" type="text" class="am-form-field am-input-sm am-radius"
                                                       name="alipayId" placeholder="请输入交易号" style="height:33px;"
                                                       v-validate:account="{required: true}">
                                            </form>
                                        <span class="am-input-group-btn">
                                            <button form="search" v-if="$search.valid"
                                                    class="am-btn am-btn-default am-btn-success
                                                    tpl-table-list-field am-icon-search"></button>
                                        </span>
                                        </div>
                                    </div>
                                </validator>
                            </div>

                            <div class="am-u-sm-12 am-scrollable-horizontal">
                                <table width="100%" class="am-table am-text-nowrap am-table-striped tpl-table-black">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>用户</th>
                                        <th>充值日期</th>
                                        <th>支付宝交易号</th>
                                        <th>之前金额</th>
                                        <th>金额</th>
                                        <th>之后金额</th>
                                        <th>充值天数</th>
                                        <th>状态</th>
                                        <th>描述</th>
                                        <th>手动充值</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <% for(var i = 0; i < recharges.length; i++){ %>
                                    <tr>
                                        <td><%= i + 1 %></td>
                                        <td><%= recharges[i].username %></td>
                                        <td><%= recharges[i].createTime %></td>
                                        <td><%= recharges[i].alipayId %></td>
                                        <td><%= recharges[i].userOldFunds %></td>
                                        <td><%= recharges[i].funds %></td>
                                        <td><%= recharges[i].userNowFunds %></td>
                                        <td><%= recharges[i].vipDays %></td>
                                        <td><%= recharges[i].status %></td>
                                        <td><%= recharges[i].dec %></td>
                                        <td>
                                            <% if(!recharges[i].isRecharge){ %>
                                            <a class="am-btn am-btn-primary am-radius am-btn-xs handRecharge"
                                               href="/admin/hand/recharge?id=<%= recharges[i]._id %>&url=<%= path %>">充值</a>
                                            <a class="am-btn am-btn-primary am-radius am-btn-xs refuseRecharge"
                                               href="/admin/hand/recharge/refuse?id=<%= recharges[i]._id %>&url=<%= path %>">拒绝</a>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <% } %>

                                    </tbody>
                                </table>

                                <input type="hidden" value="<%= pages %>" id="pages">
                                <div id="laypage"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/plugins/layer/layer.js"></script>
<script src="/static/plugins/laypage/laypage.js"></script>

<script>
    require('adminMenu');
    require('adminRecharge');
</script>

</body>
</html>