<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">
</head>

<body data-type="userHome" class="theme-black">
<div class="am-g tpl-g">
    <!-- 头部 -->
    <link rel="import" href="../../components/header/header.html?__inline">
    <!-- 侧边导航栏 -->
    <link rel="import" href="../../components/menu/menu.html?__inline">


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

        <div class="row-content am-cf">

            <div class="row am-cf">
                <div class="am-u-sm-12">
                    <div class="widget" style="min-height: 96px;">
                        <div>
                            &nbsp;&nbsp;下级推广：<br/>
                            &nbsp;&nbsp;通过此链接注册的用户即为我的下级用户。下级充值返现20%！
                        </div>
                        <div class="am-u-sm-9 am-u-lg-6">
                            <input class="am-form-field am-input-sm am-radius" type="text"
                                   value="<%= invitation %>">
                        </div>
                        <div class="am-u-sm-3 am-u-lg-6">
                            <a class="clipboard am-btn am-btn-primary am-radius am-btn-sm"
                               title="通过此链接注册的用户即为我的下级用户。"
                               data-clipboard-text="<%= invitation %>">复制</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row am-cf">
                <div class="am-u-sm-12 widget-margin-bottom-lg">
                    <div class="widget am-cf widget-body-lg">
                        <div class="widget-body  am-fr">
                            <div class="am-scrollable-horizontal ">
                                <ul class="placard_list">
                                    <% for(var i = 0; i < placards.length; i++) { %>
                                    <li>
                                        <span>【<%= placards[i].typeName %>】</span>
                                        <span> <%= placards[i].sendTime %> </span>
                                        <span>
                                            <%= placards[i].placardContent %>
                                            <% if(i == 0 || i == 1){ %>
                                            <img src="/static/images/new-placard.gif" style="display: inline;" width="38">
                                            <% } %>
                                        </span>
                                    </li>
                                    <% } %>
                                </ul>

                                <input type="hidden" value="<%= pages %>" id="pages">
                                <div id="laypage"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/js/clipboard.js"></script>
<script src="/static/plugins/layer/layer.js"></script>
<script src="/static/plugins/laypage/laypage.js"></script>

<script>
    require('userHome');
</script>

</body>
</html>