<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">
</head>

<body class="theme-black">
<div class="am-g tpl-g">
    <!-- 头部 -->
    <link rel="import" href="../../components/header/header.html?__inline">
    <!-- 侧边导航栏 -->
    <link rel="import" href="../../components/menu/menu.html?__inline">


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl"><%=title%></div>
                        </div>

                        <div id="changePassword" class="widget-body am-fr">
                            <validator name="changePassword" :groups="['samepwd']">
                                <form class="am-form am-form-horizontal tpl-form-border-form tpl-form-border-br">
                                    <div class="am-form-group">
                                        <label for="old-pwd" class="am-u-sm-3 am-u-lg-2 am-form-label">
                                            <span class="tips" v-if="$changePassword.oldpwd.required">* </span>
                                            原密码
                                        </label>
                                        <div class="am-u-sm-9 am-u-lg-10">
                                            <input id="old-pwd" class="am-radius am-input-sm" type="password"  v-model="oldpwd"
                                                   placeholder="请输入原来的密码" v-validate:oldpwd="{required: true}">
                                            <span class="tips" v-if="$changePassword.oldpwd.required">原密码不能为空!</span>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="new-pwd" class="am-u-sm-3 am-u-lg-2 am-form-label">
                                            <span class="tips" v-if="$changePassword.newpwd.required">* </span>
                                            新密码
                                        </label>
                                        <div class="am-u-sm-9 am-u-lg-10">
                                            <input id="new-pwd" class="am-radius am-input-sm" type="password" v-model="newpwd" group="samepwd"
                                                   placeholder="请输入新的密码" v-validate:newpwd="{required: true, minlength: 6, same: true}">
                                            <span class="tips" v-if="$changePassword.newpwd.required">新密码不能为空!</span>
                                            <span class="tips" v-if="$changePassword.newpwd.minlength">密码最少不能低于6位!</span>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="repeat-new-pwd" class="am-u-sm-3 am-u-lg-2 am-form-label">
                                            <span class="tips" v-if="$changePassword.repeatpwd.required">* </span>
                                            重复新密码
                                        </label>
                                        <div class="am-u-sm-9 am-u-lg-10">
                                            <input id="repeat-new-pwd" class="am-radius am-input-sm" type="password" v-model="repeatpwd" group="samepwd"
                                                   placeholder="请再次输入新的密码" v-validate:repeatpwd="{required: true, same: true}">
                                            <span class="tips" v-if="$changePassword.repeatpwd.required">重复新密码不能为空!</span>
                                            <span class="tips" v-if="$changePassword.samepwd.invalid">新密码前后输入不一致!</span>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <div class="am-u-sm-8 am-u-sm-offset-4 am-u-lg-10 am-u-lg-offset-2">
                                            <button class="am-btn am-btn-primary" v-if="$changePassword.valid" @click.stop.prevent="submit">修改</button>
                                        </div>
                                    </div>
                                </form>
                            </validator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/plugins/layer/layer.js"></script>

<script>
    require('changePassword');
</script>

</body>





