<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">
    <style>
        .user-info{
            padding: 5px 0 0;
            margin: 0;
        }
    </style>
</head>

<body data-type="widgets" class="theme-black">
<div class="am-g tpl-g">
    <!-- 头部 -->
    <link rel="import" href="../../components/header/header.html?__inline">
    <!-- 侧边导航栏 -->
    <link rel="import" href="../../components/menu/menu.html?__inline">


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl"><%=title%></div>
                        </div>

                        <div class="widget-body am-fr">
                            <div class="am-form am-form-inline">
                                <a href="/user/changePwd" class="am-btn am-btn-primary am-radius am-btn-sm addTask">
                                    <i class="am-icon-plus-circle"></i>
                                    修改密码
                                </a>
                            </div>

                            <form id="userInfo" class="am-form tpl-form-border-form tpl-form-border-br"
                                  method="post" action="/user/info">

                                <div class="am-form-group">
                                    <label class="am-u-sm-4 am-form-label">
                                        账户名称
                                    </label>
                                    <div class="am-u-sm-8">
                                        <p class="user-info"><%= user.username %></p>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-4 am-form-label">
                                        账户余额
                                    </label>
                                    <div class="am-u-sm-8">
                                        <p class="user-info">￥ <%= user.funds %></p>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-4 am-form-label">
                                        冻结金额
                                    </label>
                                    <div class="am-u-sm-8">
                                        <p class="user-info">￥ <%= user.freezeFunds %></p>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-4 am-form-label">
                                        下级返利
                                    </label>
                                    <div class="am-u-sm-8">
                                        <p class="user-info">
                                            <a href="/user/lowerUser/profit" title="显示下级返利详情">￥ <%= user.profit %></a>
                                        </p>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-4 am-form-label">
                                        账户状态
                                    </label>
                                    <div class="am-u-sm-8">
                                        <p class="user-info"><%= user.status %></p>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-4 am-form-label">
                                        账户角色
                                    </label>
                                    <div class="am-u-sm-8">
                                        <p class="user-info"><%= user.roleName %></p>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-4 am-form-label">
                                        上级名称
                                    </label>
                                    <div class="am-u-sm-8">
                                        <p class="user-info"><%= user.parent %></p>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label  class="am-u-sm-4 am-form-label">
                                        下级人数
                                    </label>
                                    <div class="am-u-sm-8">
                                        <p class="user-info"><%= user.childNum %></p>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-4 am-form-label">
                                        注册时间
                                    </label>
                                    <div class="am-u-sm-8">
                                        <p class="user-info"><%= user.createTime %></p>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-4 am-form-label">
                                        最后登陆
                                    </label>
                                    <div class="am-u-sm-8">
                                        <p class="user-info"><%= user.lastLoginTime %></p>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-4 am-form-label">
                                        ＱＱ账户
                                    </label>
                                    <div class="am-u-sm-8">
                                        <p class="user-info disable" v-if="!isEdit"><%= user.qq %></p>
                                        <input type="text" class="tpl-form-input" id="five" name="qq"
                                               value="<%= user.qq %>" v-if="isEdit">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-4 am-form-label">
                                        电话号码
                                    </label>
                                    <div class="am-u-sm-8">
                                        <p class="user-info disable" v-if="!isEdit"><%= user.phone %></p>
                                        <input type="text" class="tpl-form-input" id="six" name="phone"
                                               value="<%= user.phone %>" v-if="isEdit">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-4 am-form-label">
                                        邮箱地址
                                    </label>
                                    <div class="am-u-sm-8">
                                        <p class="user-info disable" v-if="!isEdit"><%= user.email %></p>
                                        <input type="text" class="tpl-form-input" id="seven" name="email"
                                               value="<%= user.email %>" v-if="isEdit">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-8 am-u-sm-push-4">
                                        <button type="button" class="am-btn am-btn-primary am-radius am-btn-sm"
                                                @click.stop.prevent="edit" v-if="!isEdit">编辑</button>
                                        <button type="submit" class="am-btn am-btn-primary am-radius am-btn-sm"
                                                v-if="isEdit">保存</button>
                                        <button type="button" class="am-btn am-btn-default am-radius am-btn-sm"
                                                @click.stop.prevent="cancel" v-if="isEdit">取消</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script>
    require('./userinfo');
</script>

</body>
</html>